body {
  text-align: center;
  background-image: url("http://rack.1.mshcdn.com/media/ZgkyMDEzLzEwLzI0L2NkL0NvZGluZy41YTU1OS5qcGcKcAl0aHVtYgkxMjAweDYyNyMKZQlqcGc/44ff8ce6/5ea/Coding.jpg");
  background-repeat: no-repeat;
}

.body-container{
  background-color: white;
  width: 60%;
  height: 100%;
  margin: auto;
  padding: 20px;

}

#vote-cast-message{
  color: red;
}
